:host {
  display: block;
}

.button-label {
  @media (max-width: 1023px) {
    display: none;
  }
  @media (min-width: 1024px) {
    margin-left: 0.5rem;
  }
}

.button-icon {
  @media (max-width: 1023px) {
    margin: 0;
  }
}
